
<div class="sidebar-content">

		<a href="{{ .Site.BaseURL }}"><p style="font-size:24px;"><b>{{ .Site.Title }}</b></p></a>
		<p>{{ .Site.Params.description }}</p>

		{{ if .Site.Params.sidebarFreeText }}
		<div class="sidebar-freetext">
			<p>{{ .Site.Params.sidebarFreeText }}</p>
		</div>
		{{ end }}

		<ul class="sidebar-menus">
			{{ range .Site.Menus.main }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}

		</ul>

		<hr>
		<b>side projects</b>
		<ul class="sidebar-menus">
			{{ range .Site.Menus.side }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}

		</ul>
		<hr>

		<b>science communication</b>
		<ul class="sidebar-menus">
			{{ range .Site.Menus.scicomm }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}

		</ul>

		<hr>
		<ul class="sidebar-menus">
			{{ range .Site.Menus.contact }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}
			<b><div>
				<a href='/main.pdf' download="MariaBelotti_cv.pdf">curriculum vitae (pdf)</a>
			</div></b>
	
		</ul>
		
		{{ if .Site.Params.contact_email }}
		<div class="sidebar-contact">
			&#187; <a href="mailto:{{ .Site.Params.contact_email }}">Email Us</a>
		</div>
		{{ end }}

		<p class="copyright">{{ with .Site.Params.copyright }}{{ . }}{{ else }}&copy; {{ now.Format "2006" }}. MIT License {{end}}</p>
		<p class="attr">Powered by <a href="http://gohugo.io">Hugo</a> &amp; <a href="https://github.com/ExchangeRate-API/strange-case">Strange Case</a> (inspired by <a href="https://github.com/poole/hyde">Hyde</a>).</p>

	</div>
