{{ partial "header.html" . }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-3 sidebar">

			{{ partial "sidebar-content.html" . }}

			</div>
			<div class="col-sm-7 col-sm-offset-4 col-md-6 col-md-offset-3 col-xl-5 col-xl-offset-3 content">

				<div class="post">

					<div class="post-heading">
						<h1>Welcome!</h1>

<p> I'm Maria Belotti.</p>

<p>I'm a Ph.D. candidate at the Fish, Wildlife and Conservation Biology Department of the Warner College of Natural Resources at Colorado State University. </p>

<p>I'm a long hauler. On February 15 2023, I tested positive for COVID-19 for the first time. I was mildly sick for 10 days. Some of the symptoms never went away. If you or anyone you know is going through something similar and would like to talk about it, send me an email. I'd be happy to listen and to help you navigate it.</p>

<p>This site is supposed to be a public curriculum vitae with a more dynamic and personal view of projects and professional history. </p>

<h3>How this website was built</h3>
<p>I'm working with GitLab and a static website generator called Hugo. It takes a little for you to understand what's going on in Hugo, but once you do, it's very customizable (these <b><a href="https://www.youtube.com/playlist?list=PLLAZ4kZ9dFpOnyRlyS-liKL5ReHDcj4G3">excelent video tutorials</a></b> helped me a lot). </p>

					</div>

<img class="special-img-class" src="/21634757399993859.jpg" />


				</div>



			</div>
			<div class="col-sm-1 col-md-3 col-md-4">
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}
